@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply relative text-white bg-slate-900;
  }

  button {
    @apply transition-all duration-100 hover:scale-110;
  }

  input {
    @apply px-4 py-2 bg-slate-600 rounded-xl;
  }
}

@layer utilities {
  .btn {
    @apply self-start px-4 py-2 text-sm capitalize rounded-xl;
  }

  .btn-primary {
    @apply border bg-slate-700 border-slate-700 text-lime-400;
  }

  .btn-primary-outline {
    @apply border border-lime-400 text-lime-400;
  }

  .btn-danger {
    @apply text-white bg-red-600 border border-red-600;
  }

  .input-group {
    @apply flex flex-col gap-4;
    border-radius: 8px;
  }
  .inputan {
    @apply p-2 border border-gray-300 rounded-md bg-transparent;
    border-radius: 8px;
    font-size: 16px; /* Menggunakan nilai langsung tanpa tanda kutip */
    background-color: rgba(255, 255, 255, 0.2); /* Menghapus tanda kutip pada nilai rgba */
    padding: 0.5rem; /* Menggunakan nilai langsung tanpa tanda kutip */
    border: 1px solid #ccc; /* Menghapus tanda kutip pada nilai solid color */
  }
}
